<p>hello world</p>
<%= image_tag(@notee_image.content) if @notee_image.present? %>

<%= form_tag(api_images_path, :multipart => true) do %>
  <%= file_field_tag :content %>
  <%= password_field_tag :password %>
  <%= submit_tag "登録"  %>
<% end %>

