<div class="notee_profile">
  <a class="notee_profile_left" href="/writer/<%= writer.name %>">
    <img src="/notee/<%= writer.profile_img %>">
  </a>
  <a class="notee_profile_right" href="/writer/<%= writer.name %>">
    <h3><%= writer.name %></h3>
  </a>
  <p><%= writer.profile %></p>
</div>
