<div class="notee_sidebar">
  <h3>Category</h3>
  <div class="notee_sidebar_content">
    <ul class="notee_sidebar_ul">
      <% notee_categories.each do |key, category_array| %>
          <a href="/categories/<%= category_array[1].slug %>">
            <li><%= category_array[1].name %> (<%= category_array[0] %>)</li>
          </a>
      <% end %>
    </ul>
  </div>
  <h3>Archive</h3>
  <div class="notee_sidebar_content">
    <% notee_archives.each do |key, count| %>
        <ul class="notee_sidebar_ul">
          <a href="/archives/<%= key %>">
            <li><%= key %> (<%= count %>)</li>
          </a>
        </ul>
    <% end %>
  </div>
</div>
