<div class="notee_sidebar">
  <h3>Category</h3>
  <div class="notee_sidebar_content">
    <ul class="notee_sidebar_ul">
      <% notee_categories.each do |category| %>
          <a href="/categories/<%= category.category.name %>">
            <li><%= category.category.name %> (<%= category.count %>)</li>
          </a>
      <% end %>
    </ul>
  </div>
  <h3>Archive</h3>
  <div class="notee_sidebar_content">
    <% notee_archives.each do |archive| %>
        <% slash_time = archive.time.gsub("-","/") %>
        <ul class="notee_sidebar_ul">
          <a href="/archives/<%= slash_time %>">
            <li><%= slash_time %> (<%= archive.count %>)</li>
          </a>
        </ul>
    <% end %>
  </div>
</div>
