<%= render :partial => "notee/partials/header.html.erb" %>
<div class="notee_wrapper">
  <div class="notee_main">
    <h2>Archive List</h2>
    <% @archives.each do |archive| %>
        <% slash_time = archive.time.gsub("-","/") %>
        <div class="notee_list">
          <a href="/archives/<%= slash_time %>">
            <h3><%= slash_time %> (<%= archive.count %>)</h3>
          </a>
        </div>
    <% end %>
  </div>
  <%= render :partial => "notee/partials/sidebar.html.erb" %>
</div>
<%= render :partial => "notee/partials/footer.html.erb" %>
