<%= render :partial => "notee/partials/header.html.erb" %>
<div class="notee_wrapper">
  <div class="notee_main">
    <h2>Category List</h2>
    <% @categories.each do |key, category_array| %>
        <div class="notee_list">
          <a href="/categories/<%= category_array[1].slug %>">
            <h3><%= category_array[1].name %> (<%= category_array[0] %>)</h3>
          </a>
        </div>
    <% end %>
  </div>
  <%= render :partial => "notee/partials/sidebar.html.erb" %>
</div>
<%= render :partial => "notee/partials/footer.html.erb" %>
