<% render :partial => "notee/header.html.erb" %>
<% @posts.each do |post| %>
  <div>
    <p><%= post.published_at %></p>
    <p><%= post.category.name %></p>
    <a href="/<%= post.slug %>">
      <h3><%= post.title %></h3>
      <p><%= post.user.name %></p>
      <img src="/notee/<%= post.thumbnail.content %>">
      <p><%= notee_content(post) %></p>
      <p>More Read</p>
    </a>
  </div>
<% end %>
