<%= render :partial => "notee/partials/header.html.erb" %>
<div class="notee_wrapper">
  <div class="notee_main">
    <div class="notee_main_content">
      <h1><%= @post.title %></h1>
      <p><%= @post.published_at %></p>
      <p><%= @post.category.name %></p>
      <%= notee_content(@post) %>
    </div>
    <%= notee_profile(@post.user) %>
  </div>
  <%= render :partial => "notee/partials/sidebar.html.erb" %>
</div>
