<div class="notee_comment_box">
  <div class="notee_comments">
    <% @comments.each do |comment| %>
      <div class="notee_comment">
        <p><%= comment.name %></p>
        <p><%= comment.content %></p>
      </div>
    <% end %>
  </div>
  <button onclick="ToggleForm()">Write a Comment</button>
  <div class="notee_comment_form" id="notee_form">
    <%= form_for(@comment,:url => '/notee/api/comments', :remote => true, :class => 'form-ajax') do |f| -%>
      <%= f.hidden_field :post_id, :value => post_id -%>
      <%= f.label :name, :class => 'notee_label' %>
      <%= f.text_field :name, :class => 'notee_text_field' %>
      <%= f.label :email, :class => 'notee_label' %>
      <%= f.text_field :email, :class => 'notee_text_field' %>
      <%= f.label :content, :class => 'notee_label' %>
      <%= f.text_area :content, :class => 'notee_text_area' %>
      <%= f.submit :class => 'notee_submit' -%>
    <% end %>
  </div>
</div>

<script>
  function ToggleForm(){
    var notee_form = document.getElementById('notee_form');
    if(notee_form.style.display == "" || notee_form.style.display == "none"){
      notee_form.style.display = "block";
    }else{
      notee_form.style.display = "none";
    }
  }
</script>
