<p id="notice"><%= notice %></p>

<h1>Listing Notee Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Slug</th>
      <th>Status</th>
      <th>Category</th>
      <th>Thumbnail</th>
      <th>Published at</th>
      <th>Seo keyword</th>
      <th>Seo description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notee_posts.each do |notee_post| %>
      <tr>
        <td><%= notee_post.title %></td>
        <td><%= notee_post.content %></td>
        <td><%= notee_post.slug %></td>
        <td><%= notee_post.status %></td>
        <td><%= notee_post.category_id %></td>
        <td><%= notee_post.thumbnail_id %></td>
        <td><%= notee_post.published_at %></td>
        <td><%= notee_post.seo_keyword %></td>
        <td><%= notee_post.seo_description %></td>
        <td><%= link_to 'Show', notee_post %></td>
        <td><%= link_to 'Edit', edit_notee_post_path(notee_post) %></td>
        <td><%= link_to 'Destroy', notee_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notee post', new_notee_post_path %>
