<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @notee_category.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @notee_category.slug %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @notee_category.parent_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @notee_category.status %>
</p>

<%= link_to 'Edit', edit_notee_category_path(@notee_category) %> |
<%= link_to 'Back', notee_categories_path %>
